.App {
      max-width: 1280px;
      margin: 0 auto;
      font-size: 1.5rem;
}

body {
      min-height: 100vh;
      padding-top: 70px;
      padding-left: 320px;
      background-color: rgb(48, 47, 47);
      color: white;
}